body {
    background-color: black;
    color:rgb(255, 255, 255);
    text-align: center;
}

h1 {
    font-family: fantasy;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20vw;
    margin-right: 20vw;
}

img {
    display: block;
    margin: auto;
    margin-top: 4vw;
}

